<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tfg">
    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tfg"
        tools:targetApi="31">
        <activity
            android:name=".loginActivity"
            android:exported="true"
            android:theme="@style/Theme.Tfg.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detallesBebidas"
            android:exported="false" />
        <activity
            android:name=".postresActivity"
            android:exported="false" />
        <activity
            android:name=".postresDetalle"
            android:exported="false" />
        <activity
            android:name=".detalleSalad"
            android:exported="false" />
        <activity
            android:name=".detalleParaPeques"
            android:exported="false" />
        <activity
            android:name=".detalleChickenLover"
            android:exported="false" />
        <activity
            android:name=".detalleSmashBurgers"
            android:exported="false" />
        <activity
            android:name=".detallesHamburguesasActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleEntranteActivity"
            android:exported="false" />
        <activity
            android:name=".alergenosActivity"
            android:exported="false" />
        <activity
            android:name=".parapequesActivity"
            android:exported="true" />
        <activity
            android:name=".entrantesActivity"
            android:exported="true" />
        <activity
            android:name=".saladActivity"
            android:exported="true" />
        <activity
            android:name=".chickenloverActivity"
            android:exported="true" />
        <activity
            android:name=".smashburgerActivity"
            android:exported="true" />
        <activity
            android:name=".cartaActivity"
            android:exported="false" />
        <activity
            android:name=".activity_Hamburguesas"
            android:exported="true" />
        <activity
            android:name=".bebidasActivity"
            android:exported="true" />
        <activity
            android:name=".elegirRestaurantesActivity"
            android:exported="false" />
        <activity
            android:name=".perfilActivity"
            android:exported="true" />
        <activity
            android:name=".restaurantesListaActivity"
            android:exported="false" />
        <activity
            android:name=".restaurantesMapaActivity"
            android:exported="false" />
        <activity
            android:name=".plantillaActivity"
            android:exported="false" />
        <activity
            android:name=".registroActivity"
            android:exported="true" />
        <activity
            android:name=".menuActivity"
            android:exported="true" /> <!-- API Key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API-KEY" />
    </application>

</manifest>